@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<body>
    <p>Hello! This is one of my first web-apps I've ever created. This is meant to be a place to practice my skills as a web developer. In this website you will find my personal ratings for a few video games. I hope you enjoy!</p>
    <p>Here is a link to my personal Github</p>
    <a href="https://github.com/tmiller907" target="_blank">GitHub</a>
</body>