@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Thomas Miller - Home</title>
    <!--<link rel="stylesheet" href="./css/default.css" /> -->
</head>
<body>

    <main role="main">
        <img src="./images/Face.jpg" class="me" style="float: right; transform:rotate(90deg); margin: 20px; width: 20%;" />

        <h2>Introduction</h2>
        <p>Hello! My name is Thomas. I'm currently learning web development.</p>
        <p>
            I am currently finding web development to be a challenging and creative outlet in my free-time.
            I especially enjoy tying in my interest with web development with other aspects of life like video games.
            I have a soft spot for World of Warcraft.

        </p>

    </main>

</body>
</html>
